#main {
    width: 1100px;
}

#t1 {
    width: 1100px;
    table-layout: fixed; /
}

.col-side {
    width: 200px;
}

.col-middle {
    width: 600px;
}

#t1 td img {
    width: 100%; 
    display: block;
}